In [76]:
from salary_calculator import *
from company_taxes import *

In [133]:
monthly_income = 60000
taxable_salary = 5000
non_taxable_bonus = 3500
company_monthly_expenses = 3000
total_income = monthly_income * 12
extra_prof_expenses = 750
extra_compnay_expenses = 12654

In [134]:
cnss_employee = calculate_cnss_employee(taxable_salary)
cnss_employer = calculate_cnss_employer(taxable_salary)
print(f"Part Salariel: {cnss_employee}, Part Patronale: {cnss_employer}, Total: {cnss_employer+cnss_employee}")

Part Salariel: 336.99999999999994, Part Patronale: 1054.4999999999998, Total: 1391.4999999999998

In [135]:
prof_expenses = calculate_professional_expenses(taxable_salary) + extra_prof_expenses
print(prof_expenses)

1750.0

In [136]:
ir_base = taxable_salary - cnss_employee - prof_expenses
ir = calculate_ir(ir_base)
ir

41.30000000000001

In [137]:
salary_without_bonus = taxable_salary - ir - cnss_employee
salary_with_bonus = salary_without_bonus + non_taxable_bonus
output_string = f"Salary without bonus: {salary_without_bonus}, Salary with bonus: {salary_with_bonus}"
print(output_string)

Salary without bonus: 4621.7, Salary with bonus: 8121.7

In [138]:
total_monthly_expenses = cnss_employee + cnss_employer + ir
print(total_monthly_expenses)

1432.7999999999997

In [139]:
year_salary = (taxable_salary + non_taxable_bonus + company_monthly_expenses) * 12
print(year_salary)

138000

In [140]:
total_expenses = (year_salary + extra_compnay_expenses)
print(total_expenses)

150654

In [141]:
profit =  total_income - total_expenses
profit

569346

In [142]:
IS =calculate_is(profit, year=2023)
IS

113869.20000000001

In [143]:
dividen = profit - IS

In [144]:
ID =calculate_id(dividen, year=2023)
ID

62628.060000000005

In [145]:
other_expenses = company_monthly_expenses * 12
other_expenses

36000

In [146]:
taxes_summary = ID + IS + total_monthly_expenses * 12
taxes_summary

193690.86000000002

In [147]:
profit_after_fiscal_year = profit - ID - IS
profit_after_fiscal_year

392848.74

In [148]:
total_profit = profit_after_fiscal_year + salary_with_bonus * 12
total_profit

490309.14

In [149]:
total_income

720000

In [150]:
real_total_profit = total_profit + total_monthly_expenses * 12
real_total_profit

507502.74

In [ ]:
print("")